* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.btn {
  display: inline-block;
  text-align: center;
  min-width: 150px;
  padding: 0.5rem, 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}
html {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #202020;
}

.container {
  max-width: calc(1100px+1rem+1rem);
  margin-left: auto;
  margin-right: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}
