:root {
  --container-width: 1110px;
  --basic-space: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #202020;
  font-family: 'Roboto';
}

.container {
  max-width: calc(var(--container-width) + var(--basic-space) * 2);
  margin-left: auto;
  margin-right: auto;
  padding: var(--basic-space);
  background: #c4c4c4;
  height: 800px;
}

.sqare {
  width: 200px;
  height: 200px;
  background: #fc8f8f;
  color: #fff;
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  line-height: 200px;
  margin-right: 15px;
}

.sqare.small {
  width: 100px;
  height: 100px;
  font-size: 36px;
  line-height: 100px;
  margin-left: 15px;
}

.wrapper {
  background: #e6e6e6;
  margin-bottom: var(--basic-space);
}

.float-left {
  float: left;
}

.float-right {
  float: right;
  margin-right: 0px;
}

.clearfix {
  clear: both;
}

.float-inline-start {
  float: inline-start;
  margin-left: 23%;
}
