:root {
  --container-width: 1280px;
  --basic-space: 1rem;
  --primary-bgcolor: #f2f1ef;
  --secondary-bgcolor: #161513;
  --third-bgcolor: #e94d35;
  --secondary-textcolor: #e94d35;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.btn {
  display: inline-block;
  text-align: center;
  min-width: 126px;
  padding: 9px 26px;
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid #161513;
  cursor: pointer;
}
.main-section .black-btn {
  border: 1px solid var(--secondary-bgcolor);
  color: #fff;
  background-color: var(--secondary-bgcolor);
  padding: 13px 33px;
  min-width: 179px;
}

.main-section .transparent-btn {
  max-width: 144px;
  border: 1px solid var(--secondary-bgcolor);
  padding: 13px 33px;
}

a {
  color: inherit;
}

html {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 18px;
  line-height: 1.7;
  font-weight: 400;
  color: #161513;
}

.container {
  max-width: calc(var(--container-width) + var(--basic-space) * 2);
  margin-left: auto;
  margin-right: auto;
  padding-right: var(--basic-space);
  padding-left: var(--basic-space);
}
.container-small {
  max-width: calc((var(--container-width) - 220px) + var(--basic-space) * 2);
  margin-left: auto;
  margin-right: auto;
  padding-right: var(--basic-space);
  padding-left: var(--basic-space);
}
.bg-grey {
  background-color: #f2f1ef;
}

.flex {
  display: flex;
}
.jc-sb {
  justify-content: space-between;
}
.jc-center {
  justify-content: center;
}
.al-center {
  align-items: center;
}
.als-center {
  align-self: center;
}
.ta-center {
  text-align: center;
}
.section-title {
  font-size: 45px;
  text-align: center;
  line-height: 1.2;
  margin-top: 22px;
  margin-bottom: 9px;
}

.gap-32 {
  gap: 32px;
}

.gap-40 {
  gap: 40px;
}
.button {
  font-family: inherit;
  font-weight: inherit;
}
.fz-23 {
  font-size: 23px;
  line-height: 1.4;
}
.fz-31 {
  font-size: 31px;
  letter-spacing: 0.64px;
  line-height: 1.3;
}
.section-div {
  margin-bottom: 60px;
}
/*------------------------------------ header--------------------------- */
header {
  padding-top: 32px;
  padding-bottom: 32px;
}

.main-logo {
  height: fit-content;
  align-self: center;
}

/* --------------------------main-section ---------------------*/
.main-section {
  padding-top: 40px;
  padding-bottom: 40px;
}
.main-title {
  font-size: 56px;
  line-height: 1.14;
  margin-bottom: 35px;
}

.list-prof {
  margin-bottom: 40px;
}
/* ---------------------------black-section -----------------------------*/
.black-section {
  padding-top: 66px;
  padding-bottom: 138px;
}
.black-star {
  margin-left: 67px;
}
.black-wrap {
  background-color: var(--secondary-bgcolor);
  color: #fff;
  transform: rotate(-4.932deg);
  padding-top: 10px;
  padding-bottom: 10px;
}
/* ------------------lead-section-------------------- */
.lead-title {
  font-size: 56px;
  line-height: 1.1;
  margin-top: 21px;
}
.lead-cards-wrap {
  max-width: 612px;
}
.lead-description {
  color: var(--secondary-textcolor);
  font-size: 12px;
  line-height: 1.3;
  margin-bottom: 9px;
  margin-top: 27px;
}
.lead-left {
  max-width: 408px;
}
.lead-text {
  margin-bottom: 31px;
}

/* -------------------------cadrs-section ---------------------*/
.cadrs-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.wrapper {
  justify-content: space-around;
  border: 2px solid #332f29;
}
.cards {
  padding-top: 21px;
  padding-bottom: 21px;
}
.number-cards {
  font-size: 56px;
  line-height: 1.1;
}
.cards-description {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1.28px;
  text-transform: uppercase;
  margin-top: 11px;
}
div.article-card h3.cards-description {
  color: var(--secondary-textcolor);
  margin-top: 0;
}
.fb-33 {
  flex-basis: 33.3%;
}

.bg-black {
  background-color: var(--secondary-bgcolor);
  color: #fff;
}
/* ------------------------awards-section-------------------- */
.awards-square {
  width: 48px;
  height: 48px;
  background-color: var(--third-bgcolor);
  color: #fff;
  text-align: center;
  padding: 7px 19px 9px 19px;
}
.awards-cadr {
  border: 2px solid #161513;
  margin-bottom: 24px;
  padding-top: 38px;
  padding-bottom: 38px;
}
.awards-section {
  padding-bottom: 120px;
  padding-top: 120px;
}
.gap-16 {
  gap: 16px;
}
.block1 {
  margin-left: 34px;
}
.block2 {
  margin-right: 34px;
}
/* -------------------------services-section -------------------*/
.services-descript {
  margin-bottom: 28px;
}
.services-cards {
  max-width: 510px;
  padding: 34px 49px 30px 34px;
  border: 2px solid #161513;
}
.services-wrap {
  flex-wrap: wrap;
}
.services-section {
  padding-bottom: 160px;
}
/* -------------------------portfolio-section -------------------*/
.portf-title {
  letter-spacing: 1.44px;
  text-transform: uppercase;
  color: #fff;
  background-color: var(--third-bgcolor);
  display: inline;
  padding: 3px 12px 5px 12px;
}
.portf-descript {
  font-size: 45px;
  line-height: 1.2;
  letter-spacing: 1.44px;
  margin-top: 30px;
  margin-bottom: 49px;
}
.portf-card {
  display: flex;
  gap: 44px;
}
.portf-card a {
  text-decoration: none;
}
.portf-wrap {
  flex-direction: column;
  gap: 96px;
}
.portfolio-section {
  padding-bottom: 120px;
}
/* --------------------customer-section--------------- */
.customer-section {
  padding-bottom: 120px;
}
.custom-cards {
  border: 1px solid #131416;
  max-width: calc(25% - 128px / 4);
  width: 100%;
  height: 98px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-wrap {
  flex-wrap: wrap;
}
/* ----------------------------articles-section -------------------*/
.articles-section {
  padding-bottom: 136px;
  position: relative;
}
.article-descript {
  font-size: 16px;
  line-height: 1.5;
  margin-right: 53px;
}
.article-wrap {
}
.article-card {
  border: 2px solid #000;
  margin-bottom: 100px;
}
.fl-b-50 {
  flex-basis: 50%;
  margin-left: 34px;
}
.articles-section a {
  text-decoration: none;
  display: block;
  color: #fff;
  background-color: var(--secondary-bgcolor);
  margin: 0;
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 14px;
  border: 1px solid #161513;
}
.svg-absol {
  position: absolute;
  right: 0;
  bottom: 220px;
}
/* ----------------------------input-section------------- */
.input-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #e6e3de;
}
.input {
  border: 2px solid #161513;
  color: #161513;
  min-width: 354px;
  padding: 12px 20px;
}
.input-btn {
  color: #fff;
  font-size: 23px;
  line-height: 1.4;
  letter-spacing: 0.48px;
  background-color: var(--secondary-bgcolor);
  padding: 12px 15px;
  border: 0px;
}
.gap-24 {
  gap: 24px;
}
/* ---------------------footer--------------------- */
footer {
  background-color: var(--secondary-bgcolor);
  padding-top: 74px;
  padding-bottom: 34px;
  color: #fff;
}
footer a {
  text-decoration: none;
}
.gap-46 {
  gap: 46px;
}
footer div .up {
  margin-bottom: 48px;
}
.social-items {
  border-radius: 24px;
  border: 1px solid #969186;
  margin-right: 16px;
  padding: 8px;
  display: inline-block;
  width: 40px;
  height: 40px;
}
