:root {
  --container-width: 1240px;
  --basic-space: 1rem;
  --bg-color-1: #153416;
  --bg-color-2: #929191;
  --text-color: #153416;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.tx-color-green {
  color: var(--text-color);
}
.img {
  max-width: 100%;
}

.btn {
  display: inline-block;
  text-align: center;
  min-width: 150px;
  padding: 0.5rem, 1.5rem;
}

a {
  color: inherit;
  text-decoration: underline;
}
html {
  font-family: 'Roboto' serif;
  font-size: 12px;
  line-height: normal;
  font-weight: 400;
  color: #fff;
}

.container {
  max-width: calc(var(--container-width) + var(--basic-space) * 2);
  margin-left: auto;
  margin-right: auto;
  padding-right: var(--basic-space);
  padding-left: var(--basic-space);
}
.container-small {
  min-width: 340px;
}
main {
  background: url(../img/bg.png) no-repeat center/cover;
  min-width: 100vh;
}
.wrapper {
  max-width: 496px;
  background: rgba(233, 233, 233, 0.25);
  backdrop-filter: blur(5px);
}
.flex {
  display: flex;
}
.jc-end {
  justify-content: flex-end;
}
.jc-sb {
  justify-content: space-between;
}
.ta-center {
  text-align: center;
}
.wrapper {
  padding: 60px 78px 171px 60px;
}
.nav-header {
  border-radius: 30px;
  border: 1px solid #153416;
  padding: 2px;
  margin-bottom: 75px;
}
.nav-list {
  justify-content: center;
}
.nav-item-1 {
  border-radius: 30px;
  background: var(--bg-color-1);
  padding: 9px 70px;
}
.nav-item-2 {
  padding: 11px 50px;
}
nav a {
  text-decoration: none;
}
.main-title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 29px;
}
.fields {
  border-radius: 30px;
  background: #929191;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  border: none;
}
input::placeholder {
  padding-left: 20px;
  color: #fff;
}
.checkbox-label input[type='checkbox'] {
  opacity: 0;
  width: 0;
  height: 0;
  float: left;
}
.checkbox-label .checkbox {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  display: inline-block;
  border: 1px solid #d9d9d9;
  margin-right: 10px;
}
.checkbox-label input[type='checkbox']:checked + .checkbox {
  background: #153416;
  background-image: url(../img/Vector\ 3.svg);
  background-position: center;
  background-repeat: no-repeat;
}
button {
  border-radius: 30px;
  background: #153416;
  width: 100%;
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 40px;
  color: #fff;
}
.text-box {
  gap: 15px;
  justify-content: center;
  margin-bottom: 30px;
}
.social-list {
  margin-top: 20px;
  justify-content: center;
  gap: 15px;
}
