.first-section {
  padding-top: 129px;
  padding-bottom: 172px;
}
.main {
  &-title {
    @include font-styles(65px, 600, 1);
  }
  &-description {
    @include font-styles(25px, 400, 1.4);
    padding-top: 51px;
    padding-bottom: 50px;
    max-width: 471px;
  }
  &-btn {
    @include font-styles(16px, 600, 3.7);
    color: #fff;
    text-align: center;
    min-width: 160px;
    background-color: #ff6336;
    border: none;
    padding-left: 42px;
    padding-right: 41px;
    display: inline-block;
  }
  &-btn-1 {
    @extend .main-btn;
    color: #000;
    background-color: transparent;
    padding-left: 29px;
    padding-right: 29px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin-left: 10px;
  }
  &-description-1 {
    @include font-styles(15px, 400, 1.6);
    margin-top: 25px;
  }
}
