.five-section {
  padding-top: 154px;
  padding-bottom: 187px;

  &-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 52px;
    margin-top: 25px;
  }
}
.five-section img {
  aspect-ratio: 4/3;
  width: 100%;
  object-fit: none;
  object-position: left;
}
.boost {
  &-title {
    @include font-styles(30px, 600, 1.3);
    margin-bottom: 34px;
  }
  &-link {
    text-decoration: underline;
    @include font-styles(30px, 400, 1.3);
  }
  &-descript {
    margin-bottom: 25px;
  }
}
