.nine {
  &-title {
    margin-bottom: 29px;
    text-align: center;
  }
  &-section {
    padding-top: 119px;
    padding-bottom: 161px;
    background-color: #ff9c7d;
  }
  &-btn {
    display: inline-block;
    text-align: center;
    color: #fff;
    @include font-styles(17px, 600, 3.5);
    background-color: #000;
    padding-left: 40px;
    padding-right: 40px;
    min-width: 160px;
    margin-top: 54px;
  }
}
