.six-section {
  background-color: #c9e8f2;
  padding-top: 53px;
  padding-bottom: 105px;
  &-text {
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 7px;
  }
}
.quotation {
  @include font-styles(30px, 400, 1.3);
  margin-bottom: 23px;
  margin-top: 10px;
}
.gap-93 {
  gap: 93px;
}
