@import 'variables';
@import 'first-section';
@import 'secound-section';
@import 'third-section';
:root {
  --container-width: 1330px;
  --basic-space: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
html {
  font-family: 'Graphik', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
  color: #000;
}

.container {
  max-width: calc(var(--container-width) + var(--basic-space) * 2);
  margin-left: auto;
  margin-right: auto;
  padding-right: var(--basic-space);
  padding-left: var(--basic-space);

  &-small {
    @extend .container;
    max-width: calc((var(--container-width) - 2rem) + var(--basic-space) * 2);
  }
}

.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}
.text-center {
  text-align: center;
}
ul,
ol,
li {
  list-style: none;
}
.logo {
  margin-right: 51px;
}

.header {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ccc;
}

.btn {
  display: inline-block;
  text-align: center;
  min-width: 120px;
  padding-left: 1.75rem;
  padding-right: 1.8rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-weight: 600;
  line-height: 2.8;
}
.btn-1 {
  @extend .btn;
  color: #fff;
  background-color: #ff6336;
  padding-left: 1.1rem;
  padding-right: 1.05rem;
  margin-left: 10px;
  border: none;
}

.nav {
  &-wrap {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.3;
  }
  &-list {
    gap: 57px;
  }
}
.secondary-title {
  @include font-styles(50px, 600, 1.2);
}
