@import 'variable';
@import 'header';
@import 'team-page';

:root {
  --container-width: 1600px;
  --basic-space: 60px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.btn {
  display: inline-block;
  text-align: center;
  min-width: 150px;
  padding: 0.5rem, 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}
html {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  color: #000;
}

.container {
  max-width: calc(var(--container-width) + var(--basic-space) * 2);
  margin-left: auto;
  margin-right: auto;
  padding-right: var(--basic-space);
  padding-left: var(--basic-space);
}
.container-small {
  @extend .container;
  max-width: calc((var(--container-width) - 240px) + (var(--basic-space) * 2));
}
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.aling-center {
  align-items: center;
}
